<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Backbone.js Library</title>
    <link rel="stylesheet" href="css/screen.css">
  </head>
  <body>
    <div id="posts">
      <div class="postsContainer">
      </div>
    </div>
    <script id="postTemplate" type="text/template">
      <h3><%= title %></h1>
      <br></br><%= id %>
      <br></br><%= body  %>
      <br></br><%= tags %>
    </script>
    <script data-main = "./require-config.js" src="./js/lib/require.js"></script>
</body>
</html>
