/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* reminder: target / context = result */
/* Assumes 100% size = 16px */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../../js/sass/screen.scss */
#web-app {
  margin: 36px auto;
  width: 960px;
}
/* line 20, ../../js/sass/screen.scss */
#web-app .app {
  margin: 0 auto 53px auto;
  font: normal 100% Cambria, Georgia, serif;
}
/* line 24, ../../js/sass/screen.scss */
#web-app .app .header {
  font-size: 1.75em;
  font-weight: italic;
  float: top;
  width: 100%;
}
/* line 30, ../../js/sass/screen.scss */
#web-app .app .header .text {
  width: 83.333333333333%;
  float: right;
}
/* line 34, ../../js/sass/screen.scss */
#web-app .app .header .text p {
  margin-left: 9.5%;
  margin-top: -2%;
  font: normal 100% Reenie Beanie;
  font-size: 2.5em;
}
/* line 44, ../../js/sass/screen.scss */
#web-app .app .side-bar {
  float: left;
  width: 16.666666666%;
  /* 160px / 960px */
  margin: 0 auto;
}
/* line 49, ../../js/sass/screen.scss */
#web-app .app .side-bar .icons {
  text-align: center;
}
/* line 51, ../../js/sass/screen.scss */
#web-app .app .side-bar .icons a {
  color: black;
}
/* line 53, ../../js/sass/screen.scss */
#web-app .app .side-bar .icons a i {
  display: inline-block;
}
/* line 59, ../../js/sass/screen.scss */
#web-app .app .side-bar hr {
  height: 1px;
  width: 90%;
  border: 0;
  background: black;
}
/* line 66, ../../js/sass/screen.scss */
#web-app .app .side-bar .post-tab {
  font-size: 1.5em;
  height: 1.75em;
  text-align: center;
}
/* line 72, ../../js/sass/screen.scss */
#web-app .app .side-bar .post-tab a.current:link {
  font-size: 115%;
  text-decoration: none;
  color: black;
}
/* line 79, ../../js/sass/screen.scss */
#web-app .app .side-bar .post-tab a.waiting:link, #web-app .app .side-bar .post-tab a.waiting:visited {
  font-size: 95%;
  text-decoration: none;
  color: #a9a69b;
}
/* line 84, ../../js/sass/screen.scss */
#web-app .app .side-bar .post-tab a.waiting:hover {
  font-size: 100%;
  color: #d3b111;
}
/* line 93, ../../js/sass/screen.scss */
#web-app .app .posts-view {
  width: 83%;
  /* 800px / 960px */
  float: right;
  margin: 0 0 0 auto;
}
/* line 99, ../../js/sass/screen.scss */
#web-app .app .posts-view .page {
  width: 98%;
  margin: 0 0 0 auto;
}
/* line 104, ../../js/sass/screen.scss */
#web-app .app .posts-view .page h1 {
  font-size: 1.5em;
  /* 150% size*/
  font-weight: bold;
}
/* line 108, ../../js/sass/screen.scss */
#web-app .app .posts-view .page h2 {
  font-size: 1.4em;
  font-weight: bold;
}
/* line 112, ../../js/sass/screen.scss */
#web-app .app .posts-view .page h3 {
  font-size: 1.3em;
  font-weight: bold;
}
/* line 117, ../../js/sass/screen.scss */
#web-app .app .posts-view .page p {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 123, ../../js/sass/screen.scss */
#web-app .app .posts-view .page a:link {
  color: #606060;
}
/* line 127, ../../js/sass/screen.scss */
#web-app .app .posts-view .page a:visited {
  color: #a9a69b;
}
/* line 131, ../../js/sass/screen.scss */
#web-app .app .posts-view .page a:hover {
  color: #d3b111;
}
