/* reminder: target / context = result */
/* Assumes 100% size = 16px */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

#web-app {
  margin: 36px auto;
  width: 95%;
}
@media only screen and (min-width: 960px) {
  #web-app {
    width: 960px;
  }
}
#web-app .app {
  margin: 0 auto 53px auto;
  font: normal 100% Cambria, Georgia, serif;
}
#web-app .app .header {
  font-size: 1.5em;
  width: 83.33333333%;
  margin-left: 5%;
}
#web-app .app .header .text {
  width: 83.333333333333%;
  float: right;
}
#web-app .app .header .text p {
  margin-left: 9.5%;
  margin-top: -2%;
  font: normal 100% Reenie Beanie;
}
@media only screen and (max-width: 480px) {
  #web-app .app .header .text p {
    font-size: 1.75em;
    text-indent: -50px;
    margin-left: 1em;
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  #web-app .app .header .text p {
    font-size: 2em;
  }
}
@media only screen and (min-width: 960px) {
  #web-app .app .header .text p {
    font-size: 2.5em;
  }
}
#web-app .app .side-bar {
  /* width: 16.666666666%; /\* 160px / 960px *\/ */
  width: 160px;
  margin: 0 auto;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  #web-app .app .side-bar {
    float: left;
  }
}
@media only screen and (min-width: 960px) {
  #web-app .app .side-bar {
    float: left;
  }
}
#web-app .app .side-bar .icons {
  text-align: center;
}
#web-app .app .side-bar .icons a {
  color: black;
}
#web-app .app .side-bar .icons a i {
  display: inline-block;
}
#web-app .app .side-bar hr {
  height: 1px;
  width: 90%;
  border: 0;
  background: black;
}
#web-app .app .side-bar .post-tab {
  font-size: 1.5em;
  height: 1.75em;
  text-align: center;
}
#web-app .app .side-bar .post-tab .currentLink:link {
  font-size: 115%;
  text-decoration: none;
  color: black;
}
#web-app .app .side-bar .post-tab .inactiveLink:link, #web-app .app .side-bar .post-tab .inactiveLink:visited {
  font-size: 95%;
  text-decoration: none;
  color: #a9a69b;
}
#web-app .app .side-bar .post-tab .inactiveLink:hover {
  font-size: 100%;
  color: #d3b111;
}
#web-app .app .posts-view {
  position: relative;
  margin: 20px;
  float: none;
  width: auto;
}
@media screen and (min-width: 481px) {
  #web-app .app .posts-view {
    width: 83%;
    /* 800px / 960px */
    float: left;
    margin: 0 0 0 auto;
  }
}
@media only screen and (min-width: 481px) and (min-width: 481px) and (max-width: 959px) {
  #web-app .app .posts-view {
    max-width: 60%;
  }
}

@media screen and (max-width: 480px) {
  #web-app .app .posts-view {
    width: 95%;
    /* 800px / 960px */
    float: left;
    margin: 0 1em 0 1em;
  }
}
@media only screen and (max-width: 480px) and (min-width: 481px) and (max-width: 959px) {
  #web-app .app .posts-view {
    max-width: 90%;
  }
}

#web-app .app .posts-view ul {
  list-style-type: circle;
  margin-left: 1.5em;
}
#web-app .app .posts-view .page {
  width: 98%;
  margin: 0 0 0 auto;
}
#web-app .app .posts-view .page h1 {
  font-size: 1.5em;
  /* 150% size*/
  font-weight: bold;
  margin-top: 1em;
}
#web-app .app .posts-view .page h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1em;
}
#web-app .app .posts-view .page h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1em;
}
#web-app .app .posts-view .page h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
}
#web-app .app .posts-view .page h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 1em;
}
#web-app .app .posts-view .page p {
  margin-top: 1em;
  margin-bottom: 1em;
}
#web-app .app .posts-view .page p strong {
  font-weight: bold;
  color: black;
}
#web-app .app .posts-view .page p em {
  font-style: italic;
}
#web-app .app .posts-view .page a:link {
  color: #606060;
}
#web-app .app .posts-view .page a:visited {
  color: #a9a69b;
}
#web-app .app .posts-view .page a:hover {
  color: #d3b111;
}
#web-app .app .posts-view .page blockquote {
  margin: 1.5em 10px;
  border-left: 2px solid #a9a69b;
  padding-left: 0.75em;
}
