/* reminder: target / context = result */

/* Assumes 100% size = 16px */

@import "compass/reset";

$site-grey: rgb(169, 166, 155);
$site-orange: rgb(211, 177, 17);

$small-screen-breakpoint: 420px;
$large-screen-breakpoint: 960px;

@mixin if-media-is($media) {
  @if $media == phone {
    @meida only screen and (max-width: $small-screen-breakpoint) { @content; }
  } @else if $media == tablet {
    @media only screen and (min-width: $small-screen-breakpoint + 1) and (max-width: $large-screen-breakpoint - 1) { @content; }
  } @else if $media == computer {
    @media only screen and (min-width: $large-screen-breakpoint) { @content; }
  }
}


#web-app {
  margin: 36px auto;
  width: 95%;

  @include if-media-is(computer) { width: 960px; }

  .app {
    margin: 0 auto 53px auto;
    font: normal 100% Cambria, Georgia, serif;

    .header {
      font-size: 1.75em;
      width: 100%;

      .text {
        width: 83.333333333333%;
        float: right;

        p {
          margin-left: 9.5%;
          margin-top: -2%;
          font: normal 100% Reenie Beanie;
          font-size: 2.5em;
        }

      }
    }

    .side-bar {
      float: left;
      width: 16.666666666%; /* 160px / 960px */
      margin: 0 auto;

      .icons {
        text-align: center;
        a {
          color: black;
          i {
            display: inline-block;
          }
        }
      }

      hr {
        height: 1px;
        width: 90%;
        border: 0;
        background: black;
      }

      .post-tab {
        font-size: 1.5em;
        height: 1.75em;
        text-align: center;

        a.current {
          &:link {
            font-size: 115%;
            text-decoration: none;
            color: black;
          }
        }
        a.waiting {
          &:link, &:visited {
            font-size: 95%;
            text-decoration: none;
            color: $site-grey;
          }
          &:hover {
            font-size: 100%;
            color: $site-orange;
          }
        }

      }
    }

    .posts-view {

      width: 83%; /* 800px / 960px */
      float: right;
      margin: 0 0 0 auto;

      .page {

        width: 98%;
        margin: 0 0 0 auto;

        h1 {
          font-size: 1.5em; /* 150% size*/
          font-weight: bold;
        }
        h2 {
          font-size: 1.4em;
          font-weight: bold;
        }
        h3 {
          font-size: 1.3em;
          font-weight: bold;
        }

        p {
          margin-top: 1em;
          margin-bottom: 1em;
        }

        a {
          &:link {
            color: rgb(96, 96, 96);
          }

          &:visited {
            color: $site-grey;
          }

          &:hover {
            color: $site-orange;
          }
        }

        blockquote {
          margin: 1.5em 10px;
          border-left: 2px solid $site-grey;
          padding-left: 0.75em;
        }
      }
    }
  }
}
